.heading {
  color:#224998;
  font-size:1.4em;
}

body {
  margin:6px;
  background-color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.thanks {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.panel-default {
  /* border:0; */
}
.card-title {
  font-size: 16px;
}
.card-header {
  border:0;
  padding: 10px 15px;
  color:#224998 !important;
  background:#fff;
  font-weight:500;
}

.card-body {
  padding: 15px
}

.form-control {
  border:0;
  border-color:#000;
  border-bottom:1px solid #000;
  background-color:#f1f4fe;