.heading {
  color:#224998;
  font-size:1.4em;
}

body {
  margin:6px;
  background-color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100vh;
  display: flex;
}

.thanks {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}
