extends layout

block header
  link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
  link(rel='stylesheet', href='/stylesheets/formio.full.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')

  script(src='https://unpkg.com/formiojs@4.13.3/dist/formio.full.min.js')
  script.
    formName="#{formName}";
  script(src='/javascripts/render-form.js')
block content
  div(id='formio')
